# API Keys для ИИ-провайдеров
VITE_GEMINI_API_KEY=
VITE_DEEPSEEK_API_KEY=
VITE_GROQ_API_KEY=
VITE_MISTRAL_API_KEY=
VITE_YANDEX_API_KEY=

# Учетные данные администратора
VITE_ADMIN_EMAIL=
VITE_ADMIN_PASSWORD=
